.button {
    padding: 15px 25px;
    background-color: #007bff;
    color: #fff;
    border: none; /* Remove the default button border */
    border-radius: 50px; /* Make the buttons round */
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Add a larger, softer shadow */
    transition: all 0.3s ease; /* Add a transition for smooth hover effect */
    text-align: center; /* Center the text */
    width: 200px; /* Set a fixed width */
    outline: none; /* Remove the outline */
}

.button:hover {
    background-color: #0056b3;
    box-shadow: 0 15px 30px rgba(0,0,0,0.4); /* Make the shadow larger and darker when hovering */
    transform: translateY(-3px); /* Move the button up a bit when hovering */
}
.button:active{
    transform: translateY(1px); /* Move the button down a bit when clicked */
    box-shadow: 0 5px 10px rgba(0,0,0,0.2); /* Make the shadow smaller when clicked */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px 0;
    z-index: 100; /* Ensures the nav bar is above other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 999px) {
    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Creates two columns */
        justify-content: center; /* Centers the grid */
        justify-items: center; /* Centers the items in the grid */
        gap: 10px; /* Adjust gap if necessary */
        padding: 5px; /* Adjust padding if necessary */
    }
    .button {
        padding: 5px 10px; /* Adjust padding for better fit */
        font-size: 0.8rem; /* Adjust font size for smaller screens */
        text-align: center; /* Center text within the button */
        width: 40%;
    }
}

body {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
}

.button:hover {
    background-color: #444;
}

#prices {
    display: grid;
    margin-top: 75px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adds some space between the grid items */
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.container {
    display: flex;
    flex-direction: row; /* Stacks the items vertically */
    align-items: center; /* Align the items vertically in the center */
    justify-content: space-between; /* Add space between the image and text */
    background-color: #444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container img {
    object-fit: contain;
    width: 30%; /* Adjust this value as needed */
    height: auto;
    margin-right: 10px; /* Adds some space between the image and the text */
}

.text-container {
    flex-grow: 1;
}

.text-container p {
    margin: 5px 0;
}

@media (max-width: 999px) {
    #prices {
        grid-template-columns: 1fr; /* Changes the grid to a single column */
        margin-top:20vh;
    }
}

@media (min-width: 1000px) {
    #prices {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Creates a grid with three equal columns */
        gap: 20px; /* Adds some space between the grid items */
    }
}