body {
  background-color: #333;
  color: #fff;
}

table {
  margin: 0 auto;
  width: 75%;
  border-collapse: collapse;
  background-color: #444;
}

table, th, td {
  border: 1px solid #888;
}

th, td {
  padding: 15px;
  text-align: center;
}

th {
  background-color: #555;
}

a{
  color: #66CCFF;
}
a:visited {
  color: #66CCFF;
}
a:link{
  color: #66CCFF;
}